#Shapely==1.3.3
-e git+https://github.com/LandRegistry/audit-plugin.git#egg=audit
-e git+https://github.com/LandRegistry/datatypes#egg=datatypes
-e git+https://github.com/Runscope/healthcheck.git@9d661a916f3ab630ae21e014758aa2f21fd40097#egg=healthcheck
alembic
blinker
eventlet
Flask
Flask-BasicAuth
Flask-Login
Flask-Migrate
Flask-Script
Flask-Security
Flask-SQLAlchemy
Flask-WTF
geojson
greenlet
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg2
py-bcrypt
pytz
raven
requests
simplejson
Werkzeug
wsgiref
WTForms
