body {
  padding-bottom: 50px; }

.navbar {
  padding: 5px;
  border-radius: 0px; }

.navbar-brand {
  font-size: 24px;
  padding-left: 55px;
  background: url("../images/lr-logo.png") no-repeat; }

.navbar-default {
  background-color: #fff;
  border-bottom: 1px solid #2D631F; }

.charges ul {
    padding: 0px;
    margin: 0px;
}

.charges ul li {
    padding-left: 0px;
    list-style-type: none;
}

#submit {
  margin-top:2em;
}

ul.navbar-nav.navbar-right:last-child {
  margin-right: 20px; }

.dashboard {
  padding: 40px 20px; }

.dashboard ul {
  font-size: 30px; }

.dashboard li {
  list-style-type: none; }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) {
  .form-control {
    width: 500px; }

  legend {
    width: 500px;
    border-bottom: 2px solid #25a8f1;
    font-size: 30px;
    padding: 30px 0px 0px 0px; } }

.phase-banner p {
    margin: 0px;
    color: #000;
    font-family: "nta",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    border-bottom:solid 1px #ccc;
    padding-bottom:16px;
}

.phase-banner .phase-tag {
    display: inline-block;
    vertical-align: top;
    margin: 0px 8px 0px 0px;
    padding: 2px 5px 0px;
    font-family: "nta",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #FFF;
    background-color: #D53880;
}
