{% extends "base.html" %}
{% block page_title %}Welcome{% endblock %}
{% block content %}
  <h1>Applications to change the register</h1>
  <div class="row">
    <div class="col-md-12">
    {% if applications %}
       <table class="table">
       <thead>
         <tr>
           <th>Date submitted</th>
           <th>Title number</th>
           <th>Application type</th>
         </tr>
       </thead>
       <tbody>
        {% for application in applications %}
          <tr>
            <td>{{application.submitted_at.strftime('%d %B %Y %H:%M')}}</td>
            <td>{{application.title_number}}</td>
            <td>{{application.application_type}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}

    {% endif %}
    </div>
  </div>
{% endblock %}
