<!DOCTYPE html>
<html>
<head>
  <title>{% block page_title %}{% endblock %} | Land Registry casework</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main.css') }}">
</head>
<body>
  <header>
    <a href="{{url_for('index')}}">Land Registry casework</a>
  </header>
  <main>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-messages">
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}

    {% block content %} {% endblock %}
  </main>
</body>
</html>
