<!DOCTYPE html>
<html>
<head>
  <title>{% block page_title %}{% endblock %} | Land Registry casework</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- Bootstrap theme -->
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main.css') }}">
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <a class="navbar-brand" href="{{url_for('index')}}">Land Registry casework</a>
    <ul class="nav navbar-nav navbar-right">
      {% if current_user.is_authenticated() %}
         <li><a href="logout">Logout</a></li>
     {% endif %}
    </ul>
  </nav>

  <div class="container-fluid">

    {% block content %} {% endblock %}
  </div>
  <!-- JQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- Bootstrap JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
   <script src="{{ url_for("static", filename="javascript/add_row.js") }}"></script>
</body>
</html>
