{% extends "base.html" %}
{% block page_title %}Casework{% endblock %}
{% block content %}
  <h1>Pending casework</h1>
  <div class="row">
    <div class="col-md-12">
    {% if casework_items %}
       <table class="table">
       <thead>
         <tr>
           <th>Date submitted</th>
           <th>Title number</th>
           <th>Application type</th>
         </tr>
       </thead>
       <tbody>
        {% for casework in casework_items %}
          <tr id="casework-item-{{loop.index}}">
            <td id="change-date-{{loop.index}}">{{casework.with_bst_time.strftime('%d %B %Y %H:%M')}}</td>
            <td id="title-id-{{loop.index}}">{{casework.title_number}}</td>
            <td id="application-type-{{loop.index}}">{{casework.application_type}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No pending casework</p>
    {% endif %}
    </div>
  </div>
{% endblock %}
