{% from "_form_helpers.html" import render_field %}
{% extends "base.html" %}
{% block page_title %}Create title{% endblock %}
{% block content %}
  {% if success_url %}
    {# We are not using flash() here, as we need to render some HTML, and don't want to leave the door open to XXS attacks) #}
    <div class="alert alert-info" role="alert">
        New title created, <a href="{{success_url}}">view public property page</a>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-md-12">
      <h1>Create title</h1>

      <form action="" method="POST">

        {{ form.csrf_token }}{{form.hidden_tag()}}
        {{ render_field(form.title_number)}}

        <h2>Proprieters</h2>
        {{ render_field(form.first_name1) }}
        {{ render_field(form.surname1) }}
        {{ render_field(form.first_name2) }}
        {{ render_field(form.surname2) }}

        <h2>Property details</h2>
        {{ render_field(form.house_number)}}
        {{ render_field(form.road)}}
        {{ render_field(form.town)}}
        {{ render_field(form.postcode)}}

        <h2>Property tenure</h2>
        {{ render_field(form.property_tenure)}}

        <h2>Property class</h2>
        {{ render_field(form.property_class)}}

        {{ render_field(form.price_paid)}}

       <button type="submit" class="btn btn-default btn-primary">Create title</button>

      </form>
    </div>
  </div>
{% endblock %}
