{% extends "base.html" %}
{% block page_title %}Checks{% endblock %}
{% block content %}
  <h1>Pending checks</h1>
  <div class="row">
    <div class="col-md-12">
    {% if checks %}
       <table class="table">
       <thead>
         <tr>
           <th>Date submitted</th>
           <th>Title number</th>
           <th>Application type</th>
         </tr>
       </thead>
       <tbody>
        {% for check in checks %}
          <tr id="check-item-{{loop.index}}">
            <td id="change-date-{{loop.index}}">{{check.submitted_at | datetimeformat}}</td>
            <td id="title-id-{{loop.index}}">{{check.title_number}}</td>
            <td id="application-type-{{loop.index}}">{{check.application_type}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
    	<p>No checks to do</p>
    {% endif %}
    </div>
  </div>
{% endblock %}
