{% from "_form_helpers.html" import render_field %}
{% extends "base.html" %}
{% block page_title %}Create title{% endblock %}
{% block content %}

{% if created %}
{# We are not using flash() here, as we need to render some HTML, and don't want to leave the door open to XXS attacks) #}
<div class="alert alert-info" role="alert" xmlns="http://www.w3.org/1999/html">
    New title created, <a href="{{property_frontend_url}}/{{created}}">view public property page</a>
</div>

{% endif %}

{% macro render_charge(form_element) -%}
<div>
    <fieldset>
        <legend>Charge</legend>
        {{render_field(form_element.charge_date)}}
        {{render_field(form_element.chargee_name)}}
        {{render_field(form_element.chargee_registration_number)}}
        {{render_field(form_element.chargee_address)}}
        </legend>
    </fieldset>
</div>
{%- endmacro %}

{% macro render_easement(form_element) -%}
<div>
    <fieldset>
        <legend>Easement</legend>
        {{render_field(form_element.easement_description)}}
        {{render_field(form_element.easement_geometry)}}
        </legend>
    </fieldset>
</div>
{%- endmacro %}

{% macro render_lease(form_element) -%}
<div id="leaseholddetails">
    <fieldset>
        {{render_field(form_element.lease_date)}}
        {{render_field(form_element.lease_term)}}
        {{render_field(form_element.lease_from)}}
        <br/>
        <h3>Parties</h3>
        {{render_field(form_element.lessor_name)}}
        {{render_field(form_element.lessee_name)}}
        <br/>
        <h3>Clauses</h3>
        {{render_field(form_element.lease_easements)}}
        {{render_field(form_element.alienation_clause)}}
        {{render_field(form_element.title_registered)}}

        </legend>
    </fieldset>
</div>
{%- endmacro %}

<div class="row">
    <div class="col-md-12">
        <h1>Create title</h1>

        <form id="registration-form" action="" method="POST">
            <!--{{ render_field(form.title_number)}}-->

            <p>Reference: <strong>{{form.title_number}}</strong></p>

            <fieldset>
                <legend>Proprietors</legend>
                {{ render_field(form.first_name1) }}
                {{ render_field(form.surname1) }}
                {{ render_field(form.first_name2) }}
                {{ render_field(form.surname2) }}
            </fieldset>

            <fieldset>
                <legend>Property Address</legend>
                {{ render_field(form.house_number)}}
                {{ render_field(form.road)}}
                {{ render_field(form.town)}}
                {{ render_field(form.postcode)}}
            </fieldset>

            <div id="tenure">
                <fieldset>
                    <legend>Tenure</legend>
                    {{ render_field(form.property_tenure)}}
                </fieldset>
            </div>

            <div id="leases" style="display:none;">
                <legend>Lease Details</legend>
                <div id ="leaseslist">
                    {% for lease_form in form.leases %}
                        {{ render_lease(lease_form) }}
                    {% endfor %}
                </div>
            </div>

            <fieldset>
                <legend>Class of title</legend>
                {{ render_field(form.property_class)}}
            </fieldset>

            <fieldset>
                <legend>Price Paid</legend>
                {{ render_field(form.price_paid)}}
            </fieldset>

            <fieldset>
                <legend>Extent Geometry</legend>
                {# render_field(form.geom_type) #}
                {{ render_field(form.extent) }}
                {# render_field(form.crs) #}
            </fieldset>

            <div id="charges" class="charges">
                <legend>Charges</legend>
                <ul id="chargeslist">
                    {% for charge_form in form.charges %}
                    <li>
                        {{ render_charge(charge_form) }}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div id="addchargesbutton">
                <input type="button" value="Add a charge"/>
            </div>

            <div id="easements" class="easements">
                <legend>Easements</legend>
                <ul id="easementslist">
                    {% for easement_form in form.easements %}
                    <li>
                        {{ render_easement(easement_form) }}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div id="addeasementsbutton">
                <input type="button" value="Add an easement"/>
            </div>

            <button type="submit" id="submit" class="btn btn-default btn-primary">Create title</button>
        </form>

        {% if form.charges_template %}
        <div id="chargestemplate" style="display: none;">
            {{ render_charge(form.charges_template[0]) }}
        </div>
        {% endif %}

        {% if form.easements_template %}
        <div id="easementstemplate" style="display: none;">
            {{ render_easement(form.easements_template[0]) }}

        </div>
        {% endif %}

        {% if form.leases_template %}
        <div id="leasestemplate" style="display: none;">
            {{ render_lease(form.leases_template[0]) }}
        </div>
        {% endif %}

    </div>
</div>

<script type="text/javascript">
    function addChargeForm() {
        var numberOfCharges = ($('#chargeslist').find('li').length);

        var newChargeHtml = $('#chargestemplate div')
                .first()
                .clone()
                .html()
                .replace(/charges_template-0/g, 'charges-' + numberOfCharges);

        $('#chargeslist').append($("<li></li>").html(newChargeHtml));
    }

    function addEasementForm() {
        var numberOfEasements = ($('#easementslist').find('li').length);

        var newEasementHtml = $('#easementstemplate div')
                .first()
                .clone()
                .html()
                .replace(/easements_template-0/g, 'easements-' + numberOfEasements);

        $('#easementslist').append($("<li></li>").html(newEasementHtml));
    }

    function addLeaseForm() {
        var numberOfLeases = ($('#leaseslist').find('li').length);

        if (numberOfLeases <= 0) {
            var newLeaseHtml = $('#leasestemplate div')
                    .first()
                    .clone()
                    .html()
                    .replace(/leases_template-0/g, 'leases-' + numberOfLeases);

            $('#leaseslist').append($("<li></li>").html(newLeaseHtml));
        }
    }

    $('#addchargesbutton input[type="button"]').click(
            function () {
                addChargeForm();
            }
    )

    $('#addeasementsbutton input[type="button"]').click(
            function () {
                addEasementForm();
                document.getElementById('addeasementsbutton').style.visibility='hidden';
            }

    )

    $('#tenure input[type="radio"]').click(
            function () {

                if (document.getElementById('Freehold').checked == true) {
                    document.getElementById('leases').style.display = 'none';
                } else if (document.getElementById('Leasehold').checked == true) {
                    document.getElementById('leases').style.display = '';
                    addLeaseForm();
                }
            }
    )

</script>
{% endblock %}
