{% extends "base.html" %}
{% block page_title %}Login{% endblock %}
{% block content %}
  <main id="wrapper" role="main">
    <div id="content">
      <div class="inner-block">

        {% from "security/_macros.html" import render_field_with_errors, render_field %}

        <div class="full-width">
          <div class="well col-md-6">
              <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form" class="login-user-form">

                <h1>Login</h1>

                {{ render_field_with_errors(login_user_form.email, class_='form-control', label="Email") }}
                {{ render_field_with_errors(login_user_form.password, class_='form-control') }}
                {{ render_field(login_user_form.submit, class_='btn btn-primary') }}

                {{ login_user_form.hidden_tag() }}
              </form>
          </div>

          {% include "security/_menu.html" %}

        </div>

      </div>

    </div>
  </main>

{% endblock %}
